<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstAndroidApp">

    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NOTES_APP"
        android:name="com.example.firstAndroidApp.util.ApplicationContextUtil">
        <activity
            android:name="com.example.firstAndroidApp.ui.view.EditNote"
            android:exported="false" />
        <activity
            android:name="com.example.firstAndroidApp.ui.view.NotesHandler"
            android:exported="false" />
        <activity
            android:name="com.example.firstAndroidApp.ui.view.ChangeUser"
            android:exported="false" />
        <activity
            android:name="com.example.firstAndroidApp.ui.view.MovieDetail"
            android:exported="false"
            android:label="MOVIE DETAIL" />
        <activity
            android:name="com.example.firstAndroidApp.ui.view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>